body{
    margin: 0;
}

#container { 
width: 100vw;
height: 100vh;
background: url(background.jpg);
background-size: cover;
position: fixed;
z-index: -1000;
text-align: center;
}
.estilo {
    border: 2px solid magenta;
    width: 100%;
    height: auto;
    background-color:crimson;
    background-position: center;
    text-align: center;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
color: black;
border-radius: 10px;
color:chartreuse;
opacity: 0.7;
}
.texto2{
    opacity: 1;
    font-family: georgia;
    font-size: 30px;
    border: yellow;
    border-radius: 10px;
    color:gold;
text-shadow: yellow 1px 1px 1px;

}

.input{
    font-family: arial;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 10px;
    cursor: pointer;
    background:greenyellow;
    box-shadow: 0 5px 0 green;
}
.input-green{

    background:greenyellow;
    box-shadow: 0 5px 0 rgb(118, 192, 8);
}
.input-green:hover{

    background:rgb(118, 192, 8);
    box-shadow: 0 5px 0 rgb(118, 192, 8);
}
.input-green:active{
position: relative;
top: 5px;
}

.ola{
    width: 500px;
height: 100px;
    color: black;
opacity: 0.7;
background-color:aqua;
}





.textofinal{
    opacity: 1;
    color: white;
    border: 1px black;
    font-size: small;
    font-family: cursive;
text-align: center;
}